<!DOCTYPE html>
<html>

<head>
    <title>Katalog Produk</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <h1>Katalog Produk</h1>

    <ul>
        <li>Cabai Merah - Rp 35.000</li>
        <li>Bawang Merah - Rp 25.000</li>
        <li>Tomat - Rp 15.000</li>
    </ul>

    <a href="/">Kembali ke Home</a>

</body>

</html>